<h2><%= @channel.title %></h2>
<p>
  <%= link_to channel_url(@channel, :format => 'atom'), channel_url(@channel, :format => 'atom') %>
</p>
<%- if @channel.description -%>
  <p>
    <%= @channel.description %>
  </p>
<%- end -%>

<p>
  Participants: <%= @channel.users.size %>. Started: <%= @channel.created_at %>
</p>


<%- unless current_user.owns?(@channel) -%>
  
    <%= form_for @channel, :url => leave_channel_path(@channel) do -%>
      <p>
        <%= submit_tag 'Leave channel'  %>
      </p>
    <%- end -%>
    
<%- else -%>    
    
    <%= form_for @channel, :url => channel_path(@channel), :method => :delete do -%>
      <p>
        <%= submit_tag 'Exit and delete channel'  %>
      </p>
    <%- end -%>
  
<%- end -%>

<%- if current_user.owns?(@channel) -%>

  <%= form_for [@channel, @invite] do |f| %>
    <p>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= submit_tag 'Invite' %>
    </p>
  <%- end -%>

<%- end -%>

<h3>Participants</h3>

<ul>
<%- @channel.users.each do |u| -%>
<li><%= (current_user == u) ? 'You' : u.display_name %>
  <%= (u.owns?(@channel)) ? '(owner)' : '' %>
  
  </li>

<%- if current_user.owns?(@channel) && (current_user != u) -%>

  <%= form_for @channel, :url => channel_channel_sub_path(@channel, u.channel_sub_for(@channel.id)), :method => :delete do -%>
    <p>
      <%= submit_tag 'Remove from channel'  %>
    </p>
  <%- end -%>

<%- end -%>

<%- end -%>


<%- if current_user.owns?(@channel)  -%>

<%- @channel.channel_invites.pending.each do |i| -%>
<li><%= i.email %> <i>(pending)</i>
  
  <%- if current_user.owns?(@channel) -%>
  
    <%= form_for i, :url => channel_invite_path(i), :method => :delete do -%>
       <p>
         <%= submit_tag 'Cancel invitation'  %>
       </p>
    <%- end -%>
  <%- end -%>
  
  
  
  </li>
<%- end -%>
<%- end -%>



</ul>
  