<h2>Robotos</h2>

<%- if @feeds.any? -%>

  <%= simple_form_for @roboto, url: admin_robotos_path do |f| %>
    
    
      <%= f.input :feed_id, collection: @feeds %>
      <%= f.button :submit %>
      
  
  
  <%- end -%>

<%- end -%>

<table>
  
<%- @robotos.each do |r| -%>
<tr>
  <td>
    <%= r.unemployed? ? 'Available' : 'Employed' %>
  </td>
  <td>
    <%= link_to r.name, admin_roboto_path(r) %>
  </td>

  <%- if r.employed? -%>

  <td>
    <%= link_to r.feed_title, admin_feed_path(r.feed) %>
  </td>

  <td>
    <%= r.feed_description %>
  </td>

  <%- end -%>

</tr>
<%- end -%>
</table>
