<h2><%= @feed.title %></h2>
<p>
  <%= @feed.description %>
</p>
<hr>
<h3>Robotos</h3>

<%= simple_form_for Roboto.new, url: admin_robotos_path do |f| %>

  <%= f.input :feed_id, as: :hidden, input_html: { value: @feed.id } %>
  <%= f.button :submit %>

<%- end -%>

<ul>
  
<%- @feed.robotos.each do |roboto|  -%>
<li>
  <%= link_to roboto.name, admin_roboto_path(roboto) %>
  
  <%= form_for roboto, url: fire_admin_roboto_path(roboto) do |f| %>
  
    <%= f.submit 'Unlink' %>
    
  <%- end -%>
  
  
</li>
<%- end -%>
</ul>



<p>Latest entry: <%= link_to @feed.latest_entry.title, @feed.latest_entry.url %></p>

