<!DOCTYPE html>
<html>
<head>
  <title>Propagation::Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1>Admin</h1>
  <ul>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li><%= link_to 'Channels', admin_channels_path %></li>
    <li><%= link_to 'Items', admin_items_path %></li>
    <li><%= link_to 'Links', admin_links_path %></li>
    <li><%= link_to 'Robotos', admin_robotos_path %></li>
    <li><%= link_to 'Feeds', admin_feeds_path %></li>

  </ul>  
  <%= yield %>

</body>
</html>
