<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Peach</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style>
    
    div#canvas {
      width: 100%;
    }
    
    div#sidebar {
      width: 18%;
      float: left;
    }
    
    div#main {
      width: 80%;      
      float: right;
    }
    
  
  </style>
  
</head>
<body>


  <div id="canvas">
    <div id="sidebar">
      <%- if current_user -%>
        <%= image_tag current_user.avatar.url(:thumb) %>
        <%= link_to current_user.display_name, edit_user_settings_path %>
      <%- end -%>
    
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    
    
      <hr>

      <ul>
        <li>
          <%= link_to 'Channels', channels_path %>
        </li>
        <li>
          <%= link_to 'Links', links_path %>
        </li>
        <li>
          <%= link_to 'Invites', invites_path %>
        </li>
      <!-- <li>
        <%= link_to 'Robotos', robotos_path %>
      </li> -->
      </ul>  
    </div>
    
    <div id="main">
      <h1>Peach</h1>
      <hr>
      <p>
        Post with the <a href='javascript:var d=document,w=window,f="http://grabapeach.com/popup/items/new",l=d.location,e=encodeURIComponent,p="?url="+e(l.href),u=f+p;try{if(!/^(.*\.)?tumblr[^.]*$/.test(l.host))throw 0;tstbklt()}catch(z){a=function(){if(!w.open(u,"t","toolbar=0,resizable=0,status=1,width=450,height=430"))l.href=u};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else a()}void 0'>Peach it!</a> bookmarklet, read via the <%= link_to 'web client', peach_0_path, target: '_blank' %>
      </p>
      <hr>
      
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
      
    </div>
    
  </div>


</body>
</html>
